<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Glowup QaHelper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Pragma" content="no-cache">
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="jquery.qrcode.js"></script>
  <script type="text/javascript" src="qrcode.js"></script>
  <script src="https://kit.fontawesome.com/3d6daedbc5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="mainpage.css">
</head>
<body>
  <div id="title">
    Glowup QA Helper
  </div>
  <div id="totalArea">
    <div id="appiconArea">
      <div>
        <h3>Glowup Beta</h3>
      </div>
    </div>
    <div id="optionAreaBeta">
      <div>
        <button id="appdeployBtn" onclick="window.open('https://appdeploy.linecorp.com/GlowUp/iphone/BETA')">Download Beta App</button>
      </div>
      <div>
        <button id="schemeBtn" onclick="location.href='scheme/beta/schemeMainBeta.html'">Scheme</button>
      </div>
      <div>
        <button id="filterBtn">Filter</button>
      </div>
      <div>
        <button id="xltBtn">XLT</button>
      </div>
      <div>
        <button id="bannerBtn">Banner</button>
      </div>
    </div>
  </div>
  <div id="totalArea">
    <div id="appiconArea">
      <div>
        <h3>Glowup Real</h3>
      </div>
    </div>
    <div id="optionAreaReal">
      <div>
        <button id="appdeployBtn" onclick="window.open('https://appdeploy.linecorp.com/GlowUp/iphone/RC')">Download Real App</button>
      </div>
      <div>
        <button id="schemeBtn">Scheme</button>
      </div>
      <div>
        <button id="filterBtn">Filter</button>
      </div>
      <div>
        <button id="xltBtn">XLT</button>
      </div>
      <div>
        <button id="bannerBtn">Banner</button>
      </div>
    </div>
  </div>

</body>
</html>
