<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="Pragma" content="no-cache">
  <meta charset="UTF-8">
  <title>Enhance Scheme</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="../jquery.qrcode.js"></script>
  <script type="text/javascript" src="../qrcode.js"></script>
  <link rel="stylesheet" href="schemeBeta.css">
  <script src="https://kit.fontawesome.com/3d6daedbc5.js" crossorigin="anonymous"></script>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>
<body>
  <div id="mainTitleArea">
    Enhance Scheme (Beta)
    <i class="fas fa-arrow-left" id="moveSchemeHome" onclick="location.href='schemeMainBeta.html'"></i>
    <i class="fas fa-home" id="moveHome" onclick="location.href='../../mainpage.html'"></i>
  </div>
  <div id="schemeSelectArea">
    <div id="mainArea">
      <div id="titleArea">
        <h3>Main Scheme</h3>
      </div>
      <div id="mainOptionArea">
        <div>
          <button id="enhanceMainBtn">Enhance</button>
        </div>
      </div>
    </div>
    <div id="subArea">
      <div id="titleArea">
        <h3>Sub Scheme</h3>
      </div>
      <div id="subOptionArea">
        <div>
          <button id="v1Btn">Natural (v1)</button>
        </div>
        <div>
          <button id="v2Btn">Clear (v2)</button>
        </div>
        <div>
          <button id="v3Btn">Soft (v3)</button>
        </div>
      </div>
    </div>
    <div id="titleArea">
      <h2>* Scheme</h2>
    </div>
    <input id="mainUrl" readonly style="width: 600px;">
    <br>
    <br>
    <i class="fas fa-copy copyStyle" id="schemeCopy"></i>
    <br>
    <div id="titleArea">
      <h2>* QR Code</h2>
    </div>
    <i class="fas fa-qrcode qrcodeStyle" id="addQrcode" value="Show QR Code" onclick="actionAdd()"></i>
    <i class="fas fa-redo-alt resetStyle" id="reset" value="Reset"></i>
    <i class="fas fa-reqular fa-download qrDownloadStyle" id="downloadQrBtn" value="Download QR Code"></i>
    <br>
    <br>
    <div id="qrCodeArea">
      <div id="showQrCode">
        <div id="showQrCodeDiv"></div>
        <ul id="qrUl"></ul>
      </div>
    </div>
  </div>

  <script>
    const schemeAppMain = {
      mainSchemeUrl: '',
      mainEnhance: '',
      subV1: '',
      subV2: '',
      subV3: '',
      mainAllUrl: ''
    }

    $(function () {

      $("#enhanceMainBtn").click(function () {
        schemeAppMain.mainSchemeUrl = "glowupb://editor?mainTab=enhance";
        mainSchemeSetUrl();
      });

      $("#v1Btn").click(function () {
        schemeAppMain.mainSchemeUrl = "glowupb://editor?mainTab=enhance&subTab=v1";
        mainSchemeSetUrl();
      });

      $("#v2Btn").click(function () {
        schemeAppMain.mainSchemeUrl = "glowupb://editor?mainTab=enhance&subTab=v2";
        mainSchemeSetUrl();
      });

      $("#v3Btn").click(function () {
        schemeAppMain.mainSchemeUrl = "glowupb://editor?mainTab=enhance&subTab=v3";
        mainSchemeSetUrl();
      });
    })

    function mainSchemeSetUrl() {
      const mainParam = [
        schemeAppMain.mainEnhance,
        schemeAppMain.subV1,
        schemeAppMain.subV2,
        schemeAppMain.subV3
      ]
      var all = schemeAppMain.mainSchemeUrl;
      $("#mainUrl").val(all);
      schemeAppMain.mainAllUrl = all;
    }

    $("#addQrcode").click(function () {
      $("#showQrCode #showQrCodeDiv").empty();
      jQuery("#showQrCode #showQrCodeDiv").qrcode({
        render: "table",
        width: 100,
        height: 100,
        text: $("#mainUrl").val()
      });
    })

    function actionAdd() {
      $("#qrUl").empty();
      var textAdd = $("#mainUrl").val();
      var qrUl = $("#qrUl");
      qrUl.append("<br>"+"<li>"+textAdd+"</li>");
      var space = $("#showQrCodeDiv");
      space.append("<br>");
      window.scrollTo(0, document.body.scrollHeight)
    }

    $("#reset").click(function() {
      $("#showQrCode #showQrCodeDiv").empty();
      $("#qrUl").empty();
    })

    $("#schemeCopy").click (
      function() {
        var urlInfo = document.getElementById("mainUrl");
        urlInfo.select();
        document.execCommand("Copy");
        alert("Add scheme to clipboard!")
      }
    )

    $(function () {
      $("#downloadQrBtn").on("click", function () {
        html2canvas(document.querySelector("#showQrCode")).then(canvas => {
          saveAs(canvas.toDataURL('image/png'),"qrcode.png");
        });
      });
      function saveAs(uri, filename) {
        var link = document.createElement('a');
        if (typeof link.download === 'string') {
          link.href = uri;
          link.download = filename;
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        } else {
          window.open(uri);
        }
      }
    });
  </script>
</body>
</html>
